extends ../common/greetings

block title
  | Доступна новая версия плагина

block content
  p
    | Доступна новая версия плагина/темы #{pluginName}: #{latestVersion}.
    | Возможно, вы захотите обновить его в #[a(href=pluginUrl) интерфейсе администратора PeerTube].
