extends ../common/greetings
include ../common/mixins.pug

block title
  | Изменено состояние отчёта о жалобе

block content
  p
    | #[a(href=abuseUrl) Ваш отчёт о жалобе ##{abuseId}] на #{instanceName} был #{isAccepted ? 'принят' : 'отклонён'}
