extends ../common/greetings

block title
  | Доступна новая версия PeerTube

block content
  p
    | Доступна новая версия PeerTube: #{latestVersion}.
    | Вы можете ознакомиться с последними новостями на #[a(href="https://joinpeertube.org/news") JoinPeerTube].
